*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: hsl(100, 15%, 19%);
    color: #fff;
    margin: 0 auto;
    width: 90%;
}

.ok{
    display: flex;
    gap: 20px;
    justify-content: center;
    /* background-color: red;
    height: 100vh;
    width: 100vw; */
    background-color: #df7f10;
}

.name{
    gap: 10px;
    font-size: large;
    display: flex;
    flex-direction: column;
}